<div class="dialog">
	<!-- <div class ="description">Enter Name:</div>
	<input class="textfield" value="Tom Bombadil"/>
	 -->
	<div class="listWrapper">
        <div class="listHeader">
            <h1>Select a person to add:</h1>
        </div>
		<ol class="list pane" id="addMemberList">
			{{#each people}}
				<li class="person" id="{{id}}">
					<img src="./images/{{profilePic}}"/>{{name}}
					<div class="checkbox{{#if checked}} checked{{/if}}"></div>
				</li>
			{{/each}}
		</ol>
	</div>
	<div class="buttons">
		<!-- <button class="btn red">Save</button> -->
		<button class="btn red" onclick="redirect(); hideDialog(); return false;">Done</button>
	</div>
</div>