
<div class="dialog form">
	<h1>New Meeting</h1>
	<ol class="leftRightDetail">
		<form id="createMeetingForm">
			<li>
			    <h2>Name</h2><span><input name="name"></input></span>
			</li>	
			<li>
				<h2>Description</h2><span><input name="description"></input></span>
			</li>
			<li>
				<h2>Date Range Start</h2><input name="dateStart" class="datepicker"></input></span>
			</li>
			<li>
				<h2>Date Range End</h2><input name="dateEnd" class="datepicker"></input></span>
			</li>
			<li>
				<div class="buttons">
					<button type="submit" class="btn red" id="saveGroupBtn">Save</button>
					<button id="createMeetingCancel" class="btn red">Cancel</button>
				</div>
			</li>
		</form>
	</ol>
</div>