<div class="dashHeader">
	<div class="profileIcon" href="profile"></div>
	<div class="search" href="search"></div>
	<span class="status">
		<h2>Upcoming:</h2>
		{{#if nextMeeting}}
		<span>{{nextMeeting}}</span>
		{{else}}
		<span>No meetings...</span>
		{{/if}}	
	</span>
</div>
	
<div class="pane dark">
	<div class="header dark">
		<h1>Notifications</h1>
		<button>Clear All</button>
	</div>
	<div class="content">
		<div class="listWrapper dark">
                    {{#if dashboardItems}}
                    <ol class="list arrow">
                        {{#each dashboardItems }}
                            <li>{{title}}<span class="subtitle">{{subtitle}}</span></li>
                        {{/each}}
                    </ol>
                    {{else}}
                    <div class="listHeader">
                        <h1>No New Notifications...</h1>
                    </div>
                    {{/if}}
		</div>	
	</div>
</div>

