<div class="dashHeader">
	<div class="profileIcon" href="profile"></div>
	<div class="search" href="search"></div>
	<span class="status">
		<h2>Upcoming:</h2>
		{{#if nextMeeting}}
		<span>{{nextMeeting}}</span>
		{{else}}
		<span>No meetings...</span>
		{{/if}}	
	</span>
</div>
	
<div class="pane dark">
	<div class="header dark">
		<h1>Notifications</h1>
		<button>Clear All</button>
	</div>
	<div class="content">
		<div class="listWrapper dark">
			<!-- <div class="listHeader">
				<h1>No New Notifications...</h1>
			</div> -->
			<ol class="list arrow">
				<li>Study Request<span class="subtitle">Sandra Bernard</span></li>
				<li>Meeting Time Change<span class="subtitle">Math 112 - Tomorrow, 3pm</span></li>
		    </ol>
		</div>	
	</div>
</div>

