<div class="pane">
	<div class="header">
		<div class="pulltab">
			<div class="icon" href="dashboard"></div>
		</div>
		<h1>Groups</h1>
		<button>New Group</button>
	</div>
	<div class="content">
		<div class="listWrapper">
		    <ol class="list arrow">
			{{#each groups}}
                            <li>{{name}}<span class="subtitle">{{numMembers}} Members</span></li>
			{{/each}}
		    </ol>
		</div>	
	</div>
</div>
<div class="dialogContainer hidden">
	<div class="dialog form">
		<h1>New Group</h1>
		<ol class="  leftRightDetail">
			<li>
				<h2>Name</h2><span><input id="name"></input></span>
			</li>
			<li>
				<h2>Professor</h2><span><input id="professor"></input></span>
			</li>
			<li>
				<h2>Class</h2><span><input id="class"></input></span>
			</li>
			<li>
				<h2>Section</h2><span><input id="section"></input></span>
			</li>
			<li>
				<div class="buttons">
					<button class="btn red">Save</button>
					<button class="btn red">Cancel</button>
				</div>
			</li>
		</ol>
	</div>
</div>

