<div class="header">
			<div class="pulltab">
				<div class="icon" href="dashboard"></div>
			</div>
			<h1>Group - {{name}}</h1>
			<!-- <div class="icon right menu">
				<ol><li>Rename Group</li><li>Disband Group</li></ol>
			</div> -->
		</div>

<div class="pane">
	<div class="content">
		<div class="listWrapper">
		    <ol class="list leftRightDetail">
			<li>
				<h2>Group</h2><span>{{name}}</span>
			</li>
			<li class="arrow" href="profile/{{organizerId}}">
				<h2>Organizer</h2><span>{{organizer.name}}</span>
			</li>
			<li>
				<h2>Subject</h2><span>{{subject}}</span><span class="description">{{description}}</span>
			</li>
		    </ol>
		</div>
		{{! If the person's a member of this group, render the whole page }}
		{{#if isMember}}
		<div class="listWrapper">
                    <div class="listHeader">
                            <h1>Members</h1>
                            <div class="buttons">
                                    <button class="btn red" id="addMemberToGroup">Edit Members</button>
                            </div>
                    </div>
		    <ol class="list arrow">
			{{#each members}}
				<li href="profile/{{id}}" class="person"><img src="./images/{{profilePic}}"/>{{name}}</li>
			{{/each}}
		    </ol>
		</div>
		<div class="listWrapper">
			<div class="listHeader">
				<h1>Meetings</h1>
				<div class="buttons">
					<button id="createMeeting" class="btn red">Create Meeting</button>
				</div>
			</div>
		    <ol class="list arrow">
			{{#each meetings}}
				<li href="meeting/{{id}}">{{name}}<span class="subtitle">{{dateStr}}</span></li>
			{{/each}}
		    </ol>
		</div>
		{{! If the person's not a member, only render the join button }}
		{{else}}
		<div class="listWrapper">
			<div class="buttons">
				<button class="btn red fullWidth">Ask to Join</button>
			</div>
		</div>
		{{/if}}
	</div>
</div>

