<div class="listHeader">
	<h1>Set Your Availability</h1>
	<div class="mini menu right" id="meetingTimeMenu">
		<div id="currentDay" class="currentItem">
			<div class="expander"><div></div></div>
			{{day}}
		</div>
		<div class="listHolder">
			<ol>
				{{#each days}}
				<li{{#if selected}} class="selected"{{/if}} dateTime="{{dateTime}}">
					{{day}}
				</li>
				{{/each}}
			</ol>
		</div>
	</div>
</div>
<ol class="list availability">
	{{#each times}}
	<li class="timeRow{{#if noTakers}} disabled{{/if}}{{#if selectedDate}} selected{{/if}}" dateTime="{{dateTime}}"><span>{{time}}</span>
		<span class="ratio">{{ratio}}</span>
		<div class="checkbox{{#if checked}} checked{{/if}}"></span>
	</li>
	{{/each}}
</ol>