<div class="header">
	<div class="pulltab">
		<div class="icon" href="dashboard"></div>
	</div>
	<h1>{{name}}</h1>
	<div class="icon right menu"></div>
	<!-- <button>Disband</button> -->
</div>


<div class="pane">
	<div class="content">
		<div class="listWrapper">
		    <ol class="list leftRightDetail">
				<li><h2>Coordinator</h2><span>{{coordinator.name}}</span></li>
				<li><h2>Subjects</h2><span>{{description}}</span></li>
				<li><h2>Class</h2><span>{{groupName}}</span></li>
				<li><h2>Date Range</h2><span>{{dateRange}}</span></li>
				<li><h2>Selected Time</h2><span>{{scheduledTimeString}}</span></li>
		    </ol>
		</div>
		<div class="listWrapper">
			<div class="listHeader">
				<h1>Set Your Availability</h1>
			</div>
		    <ol class="list availability">
				<li class="section">Tomorrow</li>
				{{#each times}}
				<li><span>{{time}}</span>
					<span class="ratio">{{ratio}}</span>
					<div class="checkbox{{#if checked}} checked{{/if}}"></span>
				</li>
				{{/each}}
		    </ol>
		</div>			
	</div>
</div>


<div class="dialogContainer hidden">
	<div class="dialog">
		<div style="padding: 5px" class="datepicker">
			<span  style="float:left">Select Date:</span>
			<input class="textfield" value="Date picker"/>
		</div>
		<div style="padding: 5px">
			<span class="checkbox"></span>
			<span >Use default available time</span>
		</div>
		<div class="buttons">
			<button class="btn red">Save</button>
			<button class="btn red">Cancel</button>
		</div>
	</div>
</div>

