<div class="dialog form">
	<form id="newgroupdialog">
		<h1>New Group</h1>
		<ol class="leftRightDetail">
			<li>
				<h2>Name</h2><span><input id="name" name="name"></input></span>
			</li>
			<li>
				<h2>Subject</h2><span><input id="subject" name="subject"></input></span>
			</li>
			<li>
				<h2>Description</h2><span><input id="description" name="description"></input></span>
			</li>
			<li>
				<div class="buttons">
					<button class="btn red" type="submit">Save</button>
					<button class="btn red" onclick="hideDialog();return false;">Cancel</button>
				</div>
			</li>
		</ol>
	</form>
</div>