<div class="dialog">
	<form class="form" id="createStudyTime">
		<h1>New Study Time</h1>
		<ol class="leftRightDetail">
			<li>
			    <h2>Subjects</h2><span><input name="subjects"></input></span>
			</li>
			<li>
				<h2>Date</h2><input name="date" class="datepicker"></input></span>
			</li>
			<li>
				<h2>Time</h2><input name="time" placeholder="(ie. 3:00 pm)"></input></span>
			</li>
			<li>
				<div class="buttons">
					<button type="submit" class="btn red" id="saveStudyTime">Save</button>
					<button id="cancelStudyTime" class="btn red">Cancel</button>
				</div>
			</li>
		</ol>
	</form>
</div>