<div id="container">
	<div class="pane">
		<div class="header">
			<div class="pulltab" href="dashboard.html">
				<img src="css/img/icon_book.png"/>
			</div>
			<h1>Notifications</h1>
			<button>Clear All</button>
		</div>
		<div class="content">
			<div class="listWrapper">
				<!-- <div class="listHeader">
					<h1>No New Notifications...</h1>
				</div> -->
				<ol class="list arrow">
					{{#each notifications}}
						<li>{{title}}<span class="subtitle">{{subtitle}}</span></li>
					{{/each}}
			    </ol>
			</div>	
		</div>
	</div>
</div>
