<div class="pane">
	<div class="header">
		<div class="pulltab" href="dashboard">
			<img src="css/img/icon_backarrow.png"/>
		</div>
		<h1>Profile</h1>
		<div class="icon right menu">
                    <ol><li>Rename Group</li><li>Disband Group</li></ol>
		</div>
		<!-- <button>Disband</button> -->
	</div>
	<div class="content">
	    	<div class="profileDetail">
	    		<img class="profileImg"/>
	    		<div class="listWrapper">
	    		    <ol class="list leftRightDetail">
	    				<li>
	    					<h2>Name</h2><span>{{name}}</span>
	    				</li>
	    				<li>
	    					<h2>Major</h2><span>{{major}}</span>
	    				</li>
	    		    </ol>
	    		</div>
	    	</div>
	    	<div class="listWrapper">
	    		<div class="listHeader">
	    			<h1>Study Schedule</h1>
                                {{#unless me}}
                                <div class="buttons">
	    				<button class="btn red">Ask to Study</button>
	    			</div>
                                {{/unless}}
	    		</div>
	    	    <ol class="list">
                                {{#each schedule}}
                                <li>
                                    <div class="listHeader">
                                            {{title}}
                                            {{#unless me}}
                                            <div class="buttons">
                                                    <button class="btn red">Ask to Study</button>
                                            </div>
                                            {{/unless}}
                                    </div>
                                    <span class="subtitle">{{subtitle}}</span>
                                </li>
                                {{/each}}
	    	    </ol>
	    	</div>
	<!--	<div class="listWrapper">
	    		<div class="listHeader">
	    			<h1>Meetings</h1>
	    			<div class="buttons">
	    				<button class="btn red">Create Meeting</button>
	    			</div>
	    		</div>
	    	    <ol class="list arrow">
	    			<li>HW #3<span class="subtitle">Tomorrow 3pm</span></li>
	    			<li>HW #4<span class="subtitle">Thurs, Jan 5th</span></li>
	    			<li>Exam #2 Review<span class="subtitle">Mon, Jan 9</span></li>
	    	    </ol>
	    	</div>	 -->
	</div>
</div>
