
	<div class="header">
		<!-- <div class="pulltab"> -->
			<button class="left" href="dashboard">Cancel</button>
		<!-- </div> -->
		<h1>Search</h1>				
	</div>

	<div class="pane">
		
		<!-- <div id="header2" class="header">
			Header row 2
		</div> -->
		<div class="content">
			<div class="listWrapper">
				<div class="listHeader">
					<input class="textfield" size="28">
					<div class="buttons">
						<button class="btn red">Search</button>
					</div>
				</div>
			</div>
			<div class="listWrapper">
				<div class="listHeader">
					<h1>People</h1>						
				</div>
			    <ol class="list arrow">
                                {{#each people}}
                                <li href="profile/{{id}}" class="person tall"><img/>{{title}}<span class="subtitle">{{subtitle}}</span></li>
                                {{/each}}
			    </ol>
			</div>
			<div class="listWrapper">
				<div class="listHeader">
					<h1>Groups</h1>						
				</div>
                            <ol class="list arrow">
                                {{#each groups}}
				<li href="group/{{id}}" class="tall"><img/>{{title}}<span class="subtitle">{{subtitle}}</span></li>
				{{/each}}
			    </ol>
			</div>
		</div>
	</div>
