
	<div class="header">
		<!-- <div class="pulltab"> -->
			<button class="left" href="dashboard">Cancel</button>
		<!-- </div> -->
		<h1>Search</h1>				
	</div>

	<div class="pane">
		
		<!-- <div id="header2" class="header">
			Header row 2
		</div> -->
		<div class="content">
			<div class="listWrapper">
				<div class="listHeader">
					<input class="textfield" size="28">
					<div class="buttons">
						<button class="btn red" id="searchBtn">Search</button>
					</div>
				</div>
			</div>
                    <div id="searchResults">
                    </div>
		</div>
	</div>
