<div id="container" class="noBottom">
	<div class="pane">
		<div class="header">
			<!-- <div class="pulltab"> -->
				<button class="left" href="dashboard">Cancel</button>
			<!-- </div> -->
			<h1>Search</h1>				
		</div>
		<!-- <div id="header2" class="header">
			Header row 2
		</div> -->
		<div class="content">
			<div class="listWrapper">
				<div class="listHeader">
					<input class="textfield" size="28">
					<div class="buttons">
						<button class="btn red">Search</button>
					</div>
				</div>
			</div>
			<div class="listWrapper">
				<div class="listHeader">
					<h1>People</h1>						
				</div>
			    <ol class="list arrow">
				<li class="person tall"><img/>John Cassidy<span class="subtitle">Bio 100</span></li>
				<li class="person tall" ><img/>Yogi Bear<span class="subtitle">Math 112</span></li>
				<li class="person tall"><img/>Chuck Norris<span class="subtitle">Engl 316</span></li>
			    </ol>
			</div>
			<div class="listWrapper">
				<div class="listHeader">
					<h1>Groups</h1>						
				</div>
			    <ol class="list arrow">
				<li class="person tall"><img/>Math 112<span class="subtitle">Math 112</span></li>
				<li class="person tall"><img/>Business Wanabees<span class="subtitle">Bus 110</span></li>
			    </ol>
			</div>
		</div>
	</div>
	<!-- </div> -->
</div>
