<div class="header">
		<div class="pulltab" href="dashboard">
			<img src="css/img/icon_book.png"/>
		</div>
		<h1>Study Schedule</h1>				
	</div>
	
	<div class="pane">
		
		<div class="content">
			<div class="listWrapper">
				<div class="listHeader">
					<h1>Upcoming</h1>
						<div class="buttons">
							<button class="btn red" href="showPopup">+</button>
						</div>
				</div>
			    <ol class="list arrow">
				<li>BIO 100 2pm - 4pm</li>
				<li>STAT 121 3pm - 5pm</li>
			    </ol>
			</div>	
		</div>
	</div>

	<div class="dialogContainer hidden">
		<div class="dialog">
			<div class ="description">New Study Time</div>
			<div class="listHeader">
						<h1>Upcoming</h1>
							<input class="textfield" value="subjects go here"/>
			</div>
			
			<div class="listHeader">
						<h1>Time</h1>
						<br>
							<input type="text" id="datepicker" />
			</div>
			
			<div class="buttons">
				<button class="btn red">Save</button>
				<button class="btn red" href="hidePopup">Cancel</button>
			</div>
		</div>
	</div>

