<div class="pane">
	<div class="header">
		
		<h1>Study Time</h1>
		
		<div class="icon right menu">
			<ol><li>Cancel Study Time</li></ol>
		</div>
	</div>
	<div class="content">
	    <div class="listWrapper">
		    <div class="listWrapper">
		    <ol class="list leftRightDetail">
				<li><h2>Coordinator</h2><span></span></li>
				<li><h2>Subject</h2><span></span></li>
				<li><h2>Time</h2><span></span></li>
		    </ol>
		</div>
			<h2>People</h2>
			<ol class="list arrow">
				<li>You</li>	
			</ol>
		</div>
	</div>
</div>
