<div class="header">
		<div class="pulltab" href="dashboard">
			<img src="css/img/icon_book.png"/>
		</div>
		<h1>Meetings</h1>				
	</div>
	
	<div class="pane">
		
		<div class="content">
			<div class="listWrapper">
				<div class="listHeader">
					<h1>Upcoming</h1>
						<!-- <div class="buttons">
							<button class="btn red" onclick="studyTimeDialog();return false;">+</button>
						</div> -->
				</div>
			    <ol class="list arrow studyScheduleList">
					{{#each studysessions}}
					<li id="{{id}}" href="{{href}}">
						<div class="dateHolder">
							<div class="day">{{day}}</div>
							<div class="month">{{month}}</div>
						</div>
						<div class="title">{{eventtitle}}<span class="time">({{hour}})</span></div> 
						<div class="subtitle">
							{{#if isMeeting}}<div class="mtg"></div>{{group.name}}{{else}}{{peopleText}}{{/if}}
							<!-- {{#each people}}
								<img class="profileImg" src="./images/{{profilePic}}"/>
							{{/each}} -->
						</div>
					</li>
	                {{/each}}
			    </ol>
			</div>	
		</div>
	</div>


