<div id="container">
	<div class="pane">
		<div class="header">
			<div class="pulltab" href="dashboard.html">
				<img src="css/img/icon_book.png"/>
			</div>
			<h1>Study Schedule</h1>				
		</div>
		<div class="content">
			<div class="listWrapper">
				<div class="listHeader">
					<h1>Upcoming</h1>
						<div class="buttons">
							<button class="btn red" href="newStudyTime.html">+</button>
						</div>
				</div>
			    <ol class="list arrow">
				<li>BIO 100 2pm - 4pm</li>
				<li>STAT 121 3pm - 5pm</li>
			    </ol>
			</div>	
		</div>
	</div>
	
	<table class="tabs">
	<tr>
		<td class="schedule selected" href="dashboard.html"></td>
		<td class="groups" href="dashboard.html" ></td>
	</tr>
	</table>
	<!-- </div> -->
</div>
